.drop{
    background-color: white;
    height: 100vh;
}
.main{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: white;
    border-style: solid;
    border-color: rgb(185, 182, 182);
    padding-bottom: 20px;
    padding-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 40px;
    border-radius: 5px;
}
.header{
    position: fixed;
    background-color: white;
}
.inner{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border-left: 5px solid gray;
    height: 50px;
     */
}
.top{
    background: linear-gradient(15deg, #373975 20%, #c4497b 80%);
    margin-top: 100px; color: #fff;height: 50px;
    
}
.accord .MuiSvgIcon-fontSizeMedium {color:#fff}
.top_div_2{
    display: flex;
    align-items: center;
    justify-content: center;
}
.accord{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    border-radius: 5px;
}
.member{
    display: flex;
}
.member1{
    margin-left: 20%;
}
.member_div{
    margin-left: 15px;
    padding-right: 15px;
}
/* .type{
    background-color: aqua;
}    */
.personal{
    display: flex;
}
.personal1{
    margin-left: 20%;
}
.pagina{
    display: flex;
    justify-content: end;
}
.from{
    display: flex;
    margin-bottom: 20px;
}
.invoice{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-right: 35%;
  
}

.clear_button{
    background-color: rgb(87, 98, 156);
    border-style: solid;
    border-width: 1px;
    padding: 8px 25px 8px 25px;
    color: white;
    font-weight: bold;
}
.hello{
    margin-left: 50px;
}
.f1{
    
    padding-right: 15px;
}
.f2{
 
    padding-right: 15px;
    padding-left: 15px;
}
.f3{
    
    padding-right: 15px;
    padding-left: 15px;
}
.f4{
  
    padding-right: 15px;
    padding-left: 15px;
}
.f5{
    padding-bottom: 15px;
    padding-top: 15px; 
}
.buttt2{
    background-color: aqua;
}
.icon{
    width: 50px !important ; height: 50px !important;
    margin-left: 90px;
}
