.hey{    position: absolute;
    right: 5%;
    top: 55%;
    color: white;
    background-color: black;
    width: 100px;
    height: 50px;

}
.overlay{
    
        background-color: rgba(0, 0, 0, 0.7) !important;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        position: relative;
        z-index: 1;
      
}
