
@font-face {
  font-family: rebel;
  src: url(/src/fonts/Rebel.ttf);
}

@font-face {
    font-family: Poppins-ExtraBold;
    src: url(../fonts/Poppins/Poppins-ExtraBold.ttf);
}

 @font-face {
     font-family: Poppins-Regular;
     src: url(../fonts/Poppins/Poppins-Regular.ttf);
 }