.page{
    
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
body{
    background-image: url(/src/images/bg2.jpeg);
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.5);
}
.hai{
    
    position: relative;
}

.paper1{
    background: linear-gradient(15deg, #373975 20%, #c4497b 80%);
    margin-top: 115px;
    border-radius: 5px;
    color: white;
}
.hey{
    margin-top: -105px;
    background-color: white;
    border-radius: 8px;
}
.main{
    display: flex;
    align-items: center;
    justify-content: center;
  
}
.hey_grid{
    margin-top: 75px;
}
.but{
    background: linear-gradient(15deg, #373975 20%, #c4497b 80%);
    
    
}
.errormsg{
    color: red;
    font-size: 14px;
    padding: 0px;
}
.MuiFormControl-fullWidth{
    margin: 0px !important;
    margin-top: 20px !important ;
}
