.charge{
    background-color:  #002D70 ;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.para{
    color: white;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    font-size: 20px;
}
.icon{
    background-color: #e37e44 !important;
}


@font-face {
    font-family: rebel;
    src: url(../fonts/Rebel.ttf);
  }


